.canvas {
	width: 100%;
	height: 100vh;
	/* background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000); */
	background-color: black;
	position: relative;
}

.stage {
	height: 200px;
	width: 100vw;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	perspective: 9999px;
	transform-style: preserve-3d;
}

.layer {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
}

.layer:after {
	font: 60px/0.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS",
		Helvetica, sans-serif;
	content: "Spin  To  win!";
	white-space: pre;
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50px;
	line-height: 80px;
	color: whitesmoke;
	letter-spacing: -2px;
	text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(n + 10):after {
	-webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n + 11):after {
	-webkit-text-stroke: 15px dodgerblue;
	text-shadow: 6px 0 6px #971d1c, 5px 5px 5px #002951, 0 6px 6px #971d1c;
}

.layer:nth-child(n + 12):after {
	-webkit-text-stroke: 15px #971d1c;
}

.layer:last-child:after {
	-webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
	color: #fff;
	text-shadow: none;
}
